.bubble {
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: auto;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

header {
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

header nav {
  margin-bottom: 20px;
}

header nav ul li {
  font-size: 14px;
}

#linkIconNav {
  height: 11px;
  padding-top: 2px;
}

header h1 {
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Rowdies", serif;
}

header p {
  font-family: "Rowdies", serif;
  font-size: 25px;
  font-weight: 100;
  margin-top: -10px;
  margin-bottom: 20px;
}

.scroll-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

#arrow {
  height: 30px;
  padding: 0;
  margin: 0;
}

.scroll-popup h3 {
  font-size: 15px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8), -2px 2px 0px rgba(0, 0, 0, 0.8),
    2px -2px 0px rgba(0, 0, 0, 0.8), -2px -2px 0px rgba(0, 0, 0, 0.8),
    0px 4px 3px rgba(0, 0, 0, 0.4);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

ul li {
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

a {
  background-color: rgb(60, 60, 60);
  padding: 6px;
  border-radius: 4px;
  color: #e1e1e1;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.3s ease-in-out;
  font-weight: 100;
}

a:hover {
  background-color: rgb(87, 87, 87);
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 20px;
  width: 80%;
  margin-top: 30px;
}

.summary {
  width: 100%;
}

.sub-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

section {
  background-color: rgba(83, 83, 83, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.575);
}

section h2 {
  font-family: "Pixelify Sans", serif;
  margin-bottom: 10px;
  color: rgb(229, 229, 229);
}

section p {
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  color: #cacaca;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 30px;
  user-select: none;
}

.technologies ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  list-style: none;
}

.technologies ul li {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding: 10px;
  font-weight: 600;
  background-color: #2e2e2e;
  border-radius: 10px;
  text-align: center;
}

.works-article {
  width: 80%;
  text-align: center;
  margin-top: 100px;
}

.works-article h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.projects-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  height: auto;
}

#cash {
  box-shadow: inset 50px 0 200px rgba(0, 0, 0, 0.3),
  inset -50px 0 200px rgba(0, 0, 0, 0.3),
  inset 0 50px 200px rgba(0, 0, 0, 0.3),
  inset 0 -50px 200px rgba(0, 0, 0, 0.3);
  background-color: rgb(225, 225, 225);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-card {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(83, 83, 83, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card h3 {
  color: white;
  margin-bottom: 10px;
}

.project-card p {
  color: #cacaca;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.project-card a {
  display: inline-block;
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 100;
  transition: background-color 0.3s ease-in-out;
}

.project-card a:hover {
  background-color: rgb(87, 87, 87);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(220, 220, 220, 0.3);
}

#linkIconProject {
  height: 13px;
  margin-left: 2px;
  padding-top: 1px;
}

#secondScrollPopup {
  position: relative;
  top: 25px;
}
