* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #d4acff;
}

body {
  background-color: rgb(15, 15, 15);
  color: rgb(219, 219, 219);
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Pixelify Sans", serif;
}

#span-note {
  color: grey;
}